
@font-face { font-family: PORNSA_; src:url("PORNSA__.TTF")}

h1
{
    font-family: PORNSA_;
    position: relative;
}


.wrap img
{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    opacity: 0.2;
    z-index: -1;

}

div#nav{
    text-align: center;
    position: relative;
}
div#nav ul {
    display: inline-block;
    width: 100%;
   
}
div#nav a {
    position: relative;
}

.cropped {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 5px solid black;
}

div#spanner {
    text-align: center;
    position: relative;
    background: rgb(213, 225, 228);
    width: 60%;
    height: 870px;
    display: table;
    margin:auto;
    
 }
 
 div span {
     background: rgb(213, 225, 228);
     position: center;
    
 
 }
 

     
    
 

